
<script type="text/javascript">
	function eliminarMarca(boton,idMarca){
		var data = {
			url: "{{ path('tiendasmarcas_delete') }}/"+idMarca,
			method: "POST",
			success: function(result){
				$(boton).closest('tr').remove();
				if ($('#tblMarcas >tbody >tr').length < 2) {
					$('#panelBody').append("<div class='alert alert-warning'>No existen marcas asignadas</div>",$('#divActions'));
				}
				$('#divActions').remove();
				$('#panelBody').append("<div id='divActions'></div>");
			},
			beforeSend: function(){
				$(boton).button('loading');
			},
			error: function(){
				$(boton).button('reset');
			},	
		};
		$.ajax(data);
	}
</script>
{% if marcas is not empty %}
	<div class="col-md-12">
		<table class="table table-hover" id="tblMarcas">
			<tr>
				<th>#</th>
				<th>Nombre de Marca</th>
				<th></th>
			</tr>
			{% for marca in marcas %}
				<tr>
					<td>{{loop.index}}</td>
					<td>{{marca.idMarca}}</td>
					<td><button class="btn btn-danger btn-xs" onclick="eliminarMarca(this,{{marca.id}})"><span class="glyphicon glyphicon-"></span>Quitar Marca</button></td>
				</tr>
			{% endfor %}
		</table>
		<div id="divActions"></div>
	</div>
{% else %}
	<table class="table table-hover" id="tblMarcas">
		<tr>
			<th>#</th>
			<th>Nombre de Marca</th>
			<th></th>
		</tr>
	</table>
	<div class="alert alert-warning">No existen Marcas asignadas</div>
	<div id="divActions"></div>
{% endif %}