<script type="text/javascript">
	function submitFormNewMarca(boton){
		var data = {
			success: function(result){
				$('#divActions').html('');
				$('#tblMarcas tbody').append(result);
				$(boton).button('reset');
				if ($('#tblMarcas >tbody >tr').length > 0) {
					$('#panelBody div.alert').remove();
				}
			},
			beforeSend: function(){
				$(boton).button('loading');
			},
			error: function(){
				$(boton).button('reset');
			},	
		};
		if ($('#gs_pos_posbundle_tiendasmarcas_idMarca').val() == "") {
			$('#formGroup').addClass('has-error')
		}else{
			$('#formGroup').removeClass('has-error')
			$('#formNewMarca').ajaxSubmit(data);
		}
		
	}
	$('#btnSearch').click(function(){
		$('#divForm').fadeOut('fast',function(){
			$('#panelSearch').show();
			getSearchMarcas();
		});
	});
	$('#btnClosePanel').click(function(){
		$('#panelSearch').fadeOut('fast',function(){
			$('#divForm').show();
			$('#tblMarcas button').fadeIn('fast');
		});
	});
	function getSearchMarcas(){
		var data = {
			url: "{{ path('marca_listado') }}",
			method: "POST",
			success: function(result){
				$('#searchBody').html(result);
			},
			beforeSend: function(){
				$('#searchBody').html("<div class='spinner' id='spinner'><div class='double-bounce1'></div><div class='double-bounce2'></div></div>");
			},
			error: function(){
		
			},	
		};
		$.ajax(data);
	}
</script>
<form action="{{ path('tiendasmarcas_create') }}" method="POST" id="formNewMarca">
	<div class="col-md-12" id="divForm">
		{{ form_widget(form._token) }}
		<div style="display: none">
			{{form_widget(form.idTienda)}}
		</div>

		<div class="col-md-9">
			<div class="form-group" id="formGroup">
			{{form_widget(form.idMarca)}}
			</div>
		</div>
		<div class="col-md-1">
			<button class="btn btn-default" id="btnSearch" type="button"><span class="glyphicon glyphicon-search"></span></button>
		</div>
		<div class="clearfix"></div><br/>
		<div class="col-md-2">
			<button class="btn btn-success btn-block btn-xs" type="button" onclick="submitFormNewMarca(this)">Guardar Marca</button>
		</div>
		<div class="col-md-2">
			<button class="btn btn-warning btn-block btn-xs" type="button" onclick="$('#divActions').html('');$('#tblMarcas button').fadeIn('fast');">Cancelar</button>
		</div>
	</div>
	<div class="col-md-12" id="panelSearch" style="display:none">
		<div class="panel panel-default" >
		  <div class="panel-body">
		    <div id="searchBody"></div>
		    <button type="button" id="btnClosePanel" class="btn btn-warning btn-xs">Cerrar</button>
		  </div>
		</div>
	</div>
</form>