<tr>
    <td>{{conteo}}</td>
    <td>{{entity.idMarca}}</td>
    <td><button class="btn btn-danger btn-xs" onclick="eliminarMarca(this,{{entity.id}})"><span class="glyphicon glyphicon-"></span>Quitar Marca</button></td>
</tr>
