<script tyep="text/javascript">
function submitEdit(boton)
{
      var data = {
            success: function(result){
             	mostrar({{entity.id}});
             	console.log(result);
            },
            error: function(){
            	 $(boton).button('reset');
            },
            beforeSubmit: function(){
               $(boton).button('loading');
            }
        };
        $('#formEditUsuario').ajaxSubmit(data);
}
	
</script>

<form action="{{path('usuarios_update',{'id':entity.id})}}" method="POST" id="formEditUsuario">

	<div class="container-fluid">
		<div class="panel panel-default">
			<div class="panel-heading"> <h3 class="panel-title"> Editar Usuario</h3></div>
			<div class="panel-body">
				{{form_widget(edit_form._token)}}		
				<table class="table">
					<tr>
						<td>{{form_label(edit_form.usuario)}}</td>
						<td>{{form_widget(edit_form.usuario)}}</td>
					</tr>
					<tr>
						<td>{{form_label(edit_form.contrasenia)}}</td>
						<td>{{form_widget(edit_form.contrasenia)}}</td>
					</tr>
					<tr>
						<td>{{form_label(edit_form.role)}}</td>
						<td>{{form_widget(edit_form.role)}}</td>
					</tr>		
					<tr>
						<td>{{form_label(edit_form.descripcion)}}</td>
						<td>{{form_widget(edit_form.descripcion)}}</td>
					</tr>
					<tr>
						<td>{{form_label(edit_form.correo)}}</td>
						<td>{{form_widget(edit_form.correo)}}</td>
					</tr>
				</table>
				 
				<div>		
				{{form_widget(edit_form.submit)}}
				<button type="button" class="btn btn-default" onclick="mostrar({{entity.id}})"> 
					<span class="glyphicon glyphicon-repeat"> Regresar </span> 
				</button> 
				</div>
			</div> <!--Fin Clase Panel Body-->
		</div><!--Fin Clase Panel Panel Default-->
	</div> <!--Fin Clase Container Fluid-->
</form>
