{% extends 'PosBundle::layout.html.twig' %}
{% block body %}
<script type="text/javascript" >
    function editar(idUsuario) //Funcion Mostrar Modulo de Editar
    {
      var data = {
            url:"{{ path('usuarios_edit') }}/"+idUsuario,
            method:"GET",
            success: function(result){
                $('#capaInfoUsuario').html(result);
            },
            error: function(){

            },
            beforeSend: function(){
               $('#capaInfoUsuario').html("<div class='spinner'><div class='double-bounce1'></div><div class='double-bounce2'></div> </div>")
            }
        };
        $.ajax(data);
    }
    function list(rol) //Funcion Mostrar Usuarios por ROL
    {
        var data = {
            url:"{{ path('usuarios_list') }}/"+rol,
            method:"GET",
            success: function(result){
                $('#mostrarListado').html(result);
                $('#capaInfoUsuario').html("<div class='alert alert-warning'> Seleccionar un Usuario</div>");
                $('#capaTiendasAsignadas').html("");
                $('#capaMarcasClientes').html("");
            },
            error: function(){

            },
            beforeSend: function(){
             
            }
        };
        $.ajax(data);
    }
    
    $( document).ready(function() 
    {
        list(0);
    });   

</script>
<div class="container-fluid">
    <legend>Usuarios</legend>  
    <div class="btn-group btn-group-justified" role="group">
        <div class="btn-group" role="group">
            <button class="btn btn-info" type="button" onclick="list(1)">
                Supervisores
            </button>
        </div>
        <div class="btn-group" role="group">   
            <button class="btn btn-warning" type="button" onclick="list(2)">
                Clientes
            </button>
        </div>
    </div>
    </br>
    <div class="col-md-4" > <!--Clase de Columna-->
        <legend>Listado de Usuarios</legend>
        <div id="mostrarListado"> </div>
    </div> <!--Fin Clase Columna-->
    <div class="col-md-6">
        <legend> Informacion de Usuario</legend>
        <!--Capa que muestra la Informacion Basica de Usuario-->
        <div id="capaInfoUsuario">
        </div> 
        <!--Capa que muestra las tiendas que tenga asignadas el Supervisor-->
        <div id="capaTiendasAsignadas">
        </div>
        <!--Capa que muestra las marcas que tenga asignadas el Cliente-->
        <div id="capaMarcasClientes">
        </div>
    </div>
</div> <!--Fin Clase Container Fluid-->
{% endblock %}
