<script type="text/javascript">
	function creacionMarca()
	{
		var data ={
			url: "{{path('marca_new')}}",
			method: "GET",
			success:function(result){	
				$("#modalNuevaMarca").modal("show");
				$("#modalContent").html(result);
			},
			error: function() {
			},
			beforeSend: function() {
			}
		};
		$.ajax(data);
	}
	
</script>

{% if entity.role == 'C' %}
	<div class="panel panel-warning">
		<div class="panel-heading"> 
			Marcas Asignadas
			<button  type="button" onclick="creacionMarca()" class="btn btn-default btn-xs" style="margin-left:350px">
			<span class="glyphicon glyphicon-plus">				
			</span> 
			Nueva Marca
			</button>
		</div>
		<div class="panel-body">
			{% if marcas is not empty %}
				<table class="table">
					<div class="table-body">
						<tr>
							<th>No.</th>
							<th>Descripcion</th>
							<th>Editar</th>
							<th>Eliminar</th>
						</tr>
						{% for marca in marcas %}	
						<tr>
							<td>{{loop.index}}</td>
							<td>{{marca.descripcion}}</td>
							<td><button type="button" class="btn btn-warning btn-xs"><span class="glyphicon glyphicon-edit"></span></button></td>
							<td><button type="button" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-remove"></span></button></td>
						</tr>
						{% endfor %}
					</div>
				</table>
			{% else %}
			<div class="alert alert-warning"> No tiene marcas Asignadas</div>	
			{% endif %}
		</div>
	</div>
{% endif%}

<div class="modal fade" tabindex="-1" role="dialog" id="modalNuevaMarca">
	<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<div class="modal-title"> <h4>Creacion de Marca</h4></div>
				</div>
				<div class="modal-body" id="modalContent">				
				</div>
			</div>
	</div>
</div>