{% extends 'PosBundle::layout.html.twig' %}

{% block body %}
<form action="{{path('usuarios_create')}}" method="POST" id="formNewUsuario">
	<div class="container">
		<legend>Crear Usuario</legend>

        {{form_widget(form._token)}}
        <div class="container">
        
                <div class="panel-heading"> </div>
            	{{form_label(form.usuario)}}     {{form_widget(form.usuario)}}
            	{{form_label(form.contrasenia)}} {{form_widget(form.contrasenia)}}
            	{{form_label(form.role)}}        {{form_widget(form.role)}}
            	{{form_label(form.descripcion)}} {{form_widget(form.descripcion)}}
            	{{form_label(form.correo)}}      {{form_widget(form.correo)}}
            	{{form_label(form.idPais)}}      {{form_widget(form.idPais)}}
        		<br/>
        		{{form_widget(form.submit)}}
                
                <a href="{{ path('usuarios') }}" class="btn btn-default" style="margin-left: 50px">
                    Back to the list
                </a>
          
        </div>     
	</div>
  </form>
{% endblock %}
