{% if entity.role=='S' %}
    <div class="panel panel-info">
{% else %}
    {%if entity.role=='C'%}
        <div class="panel panel-warning">
    {% else %}
         <div class="panel panel-default">   
    {% endif %}    
{% endif %}
    <div class="panel-heading"> 
    <h3 class="panel-title"> Descripción </h3> 
    </div>
    <div class="panel-body">
        <table class="table">
            <tbody class="table table-bordered">
                <tr>
                    <th>Usuario:</th>
                    <td>{{ entity.usuario }}</td>
                </tr>
                <tr>
                    <th>Tipo Usuario:</th>
                    {% if entity.role == 'S' %}
                    <td>Supervisor</td>
                    {% else %}
                    {% if entity.role == 'C' %}
                    <td>Cliente</td>
                    {% else %}
                    <td>Administrador</td>
                    {% endif %}
                    {% endif %}
                </tr>
                <tr>
                    <th>Nombre:</th>
                    <td>{{ entity.descripcion }}</td>
                </tr>
                <tr>
                    <th>Correo:</th>
                    <td>{{ entity.correo }}</td>
                </tr>

                <tr>
                    <th>Ultima Fecha de Sesion:</th>
                    <td>{{ entity.fechaSesion|date('Y-m-d') }}</td>
                </tr>
                <tr>
                    <th>Hora Fecha sesion:</th>
                    <td>{{ entity.fechaSesion|date('H:i:s') }}</td>
                </tr>
            </tbody>
        </table>
    </div> <!--Fin Clase Panel Body-->
</div> <!--Fin Clase Panel Primary-->
