<script type=text/javascript>
     $.expr[':'].Contains = function(x, y, z){
    return jQuery(x).text().toLowerCase().indexOf(z[3].toLowerCase())>=0;
    };
    
    $(document).ready(function(){
    //Carga ID de Cadena para el Modulo Asignacion de Tiendas
        $("#form_cadenas").change(function(){  
            tiendasSinAsignar({{entity.id}});
        });
    //Filtra la informacion de las tiendas Asiganadas a un supervisor    
        $('#filtroTiendas').focus();
        $('#filtroTiendas').keyup(function(){
            var descripcion = $('#filtroTiendas').val();
            if(descripcion.length>0)
            {         
                $("#tblTiendas tr").show(); 
                $("#tblTiendas tr td#nombreTda").not(":Contains('"+descripcion+"')").closest('tr').hide();                 
            }else{
                $("#tblTiendas tr").show(); 
            }
        });
    });
    //Elimina tiendas asignadas a Supervisor
    function eliminarTienda(button,id)
    {
         var data = {
            url:"{{ path('supervisortienda_delete') }}/"+id,
            method:"GET",
            success: function(result){
               $(button).closest('tr').remove();
            },
            error: function(){

            },
            beforeSend: function(){
                $(button).button("loading");
            }
        };
        $.ajax(data);
    }
    //Funcion para mostrar Tiendas que no tiene asignadas el Supervisor
    function tiendasSinAsignar(idUser)
    {
        var idCadena = $("#form_cadenas").val();
        
        $("#modalAsigTienda").modal("show");
        var data = {
            url:"{{path('supervisortienda_list')}}/"+idUser+"/"+idCadena,
            method:"GET",
            success: function(result){
            $('#tiendasSuper').html(result);
            },
            beforeSend:function(){
            }
        };
        $.ajax(data);
    }
</script>

{% if entity.role == 'S' %}
    <div class="panel panel-info" id="listTiendas">
        <div class="panel-heading"> 
            <button type="button" class="btn btn-default btn-xs" style="float:right" onclick="tiendasSinAsignar({{entity.id}})">
                <span id="btnAsignar" class="glyphicon glyphicon-plus"></span> Asignar Tienda 
            </button>
            <h3 class="panel-title">Listado de Tiendas Asignadas</h3>
        </div>
        <div class="panel-body">
        {% if tiendas is not empty %}
            <table id="tblTiendas" class="table">
                <div class="table-body">
                <div class=input-group>
                	<div class="input-group-addon"><span class="glyphicon glyphicon-search"></span></div>
                	 <input type="text" class="form-control" id="filtroTiendas" placeholder="Busqueda por Tienda">
                </div>
               
                <tr>
                    <th>No.</th>
                    <th>Tienda</th>
                    <th>Direccion</th>
                    <th>Eliminar</th>
                </tr>
                {% for tienda in tiendas %}               
                <tr>
                    <th>{{loop.index}}</th>
                    <td id="nombreTda">{{tienda.nombreTda}}</td>
                    <td>{{tienda.direccionTda}}</td>
                    <td><button type="button" class="btn btn-danger btn-xs" onclick="eliminarTienda(this,{{tienda.id}})" data-loading-text="..." style="margin-left:20px">
                        <span class="glyphicon glyphicon-remove">
                        </span>
                        </button>
                    </td>
                </tr>
                {% endfor %}
                </div>
            </table>
        {% else %}
            <div class="alert alert-warning" role="alert"> El supervisor No Tiene Tiendas Asignadas</div>
        {% endif %}        
        </div> <!--Fin Capa Panel Body-->      
    </div> <!--Fin Capa Pane Default--> 
{% endif %}
<!--Ventana Modal-->
<div class="modal falde" tabindex="-1" role="dialog" id="modalAsigTienda">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="tiendasAsignadas({{entity.id}})"><span aria-hidden="true">&times;</span></button>
                    <div class="modal-title"> <h4>Asignacion de Tiendas</h4></div>
                </div>           
                <div class="panel panel-default">
                    <div class="panel-body">

                         <table class="table">
                            <tr>
                            {% if cadenasForm is not empty %}
                                <td>{{ form(cadenasForm) }}</td>      
                            {% endif %}
                            </tr>
                        </table>

                        <div id="tiendasSuper">
                            
                        </div>
                    </div>
                </div>
           
            </div> <!--Fin Clase Modal Body-->
        </div> <!---Fin Capa Modal Content-->
    </div> <!--Fin Capa Modal Dialog-->
</div> <!--Fin Capa Modal fade-->