 <script type="text/javascript">
     $.expr[':'].Contains = function(x, y, z){
    return jQuery(x).text().toLowerCase().indexOf(z[3].toLowerCase())>=0;
    };

    $( document).ready(function() 
    {
        $('#filtroUsuarios').focus();
        $('#filtroUsuarios').keyup(function(){
            var descripcion = $('#filtroUsuarios').val();
            if(descripcion.length>0)
            {         
                $("#tblUsuarios tr").show(); 
                $("#tblUsuarios tr td#dato").not(":Contains('"+descripcion+"')").closest('tr').hide();                 
            }else{
                $("#tblUsuarios tr").show(); 
            }
        });
    });
     function mostrar(idUsuario) //Funcion Mostrar datos de Usuario
    {
      var data = {
            url:"{{ path('usuarios_show') }}/"+idUsuario,
            method:"GET",
            success: function(result){
                $('#capaInfoUsuario').html(result);
                tiendasAsignadas(idUsuario);
                marcasAsignadas(idUsuario);
            },
            
            error: function(){

            },
            beforeSend: function(){
               $('#capaInfoUsuario').html("<div class='spinner'><div class='double-bounce1'></div><div class='double-bounce2'></div> </div>")
            }
        };
        $.ajax(data);
    }
    function tiendasAsignadas(idUsuario)
    {
        var data = {
            url: "{{ path('usuarios_tiendasAsignadas')}}/"+idUsuario,
            method:"GET",
            success: function(result){
            $('#capaTiendasAsignadas').html(result);
            },
            error: function(){

            },
            beforeSend: function(){

            }
        };
        $.ajax(data);
    }
    function marcasAsignadas(idUsuario)
    {
        var data = {
            url: "{{path('usuarios_marcasAsignadas')}}/"+idUsuario,
            method: "GET",
            success: function(result){
            $('#capaMarcasClientes').html(result);
            },
            error: function(){
            },
            beforeSend: function(){                
            }
        };
        $.ajax(data);
    }
 </script>


<div class="panel panel-primary"> <!--Clase Panel Primario-->
    <div class="panel-heading">
        <h3 class="panel-title">Usuarios
            <a href="{{ path('usuarios_new') }}" class="btn btn-xs btn-primary" style="float:right">
                <span class="glyphicon glyphicon-plus"></span> Agregar Usuario
            </a>
        </h3>  
    </div>
    <div class="panel-body">
        <div class="input-group">
            <div class="input-group-addon"><span class="glyphicon glyphicon-search"></span></div>
            <input type="text" class="form-control" id="filtroUsuarios" name="filtroUsuarios" placeholder="Busqueda por Usuario">
        </div>
        <table class="table table-striped" id="tblUsuarios">
            <tr>
                <th>Usuario</th>
                <th>Descripcion</th>
                <th>Opciones</th>
            </tr>
            {% for entity in entities %}
            <tr>
                <td id="dato">{{ entity.usuario }}</td>
                <td>{{ entity.descripcion }}</td>
                <td>
                   <span class="btn btn-default" onclick="mostrar({{entity.id}})"> <a  class="glyphicon glyphicon-eye-open" ></a> </span>
                   <span class="btn btn-default" onclick="editar({{entity.id}})"> <a  class="glyphicon glyphicon-edit" ></a> </span>
                </td>
            </tr>
            {% endfor %}
        </table>  
    </div>    
</div> <!--Fin Clase Panel Primary-->
