{% extends '::base.html.twig' %}
{% block encabezado %}
		<nav class="navbar navbar-default" role="navigation" style="background-color:#C60022!important">		
			<div class="navbar-header">
				<table style="margin-left:10px">
					<tr>		
						<td><a class="navbar-brand" href="{{ path('index_supervisor') }}" style="color:white"><img src="{{ asset('bundles/pos/images/logo.png') }}" width="25" height="25"/>POS Monitor</a></td>
						<td>
							<ul class="nav navbar-nav">					
								<li class="dropdown">
									<a href="#" class="dropdown-toggle" data-toggle="dropdown" style="color:white;font-size:14px">
										Mi cuenta ({{ app.user.username }}) 
										<b class="caret"></b>
									</a>
									<ul class="dropdown-menu" role="menu">								
										<li><a href="{{ path('flashreport_new') }}" id="cfotos">Subir Fotos</a></li>									
										<li><a href="ver_fotos.php">Ver Fotos y Logros</a></li>
										<li><a href="ver_fotos.php">Generar Reportes</a></li>

										<li><a href="{{ path('logout') }}">Salir</a></li>						
									</ul>
								</li>					
							</ul>
						</td>
						<td>
							<ul class="nav navbar-nav">					
								<li class="dropdown">
									<a href="#" class="dropdown-toggle" data-toggle="dropdown" style="color:white;font-size:14px">
										Administrador ({{ app.user.username }}) 
										<b class="caret"></b>
									</a>
									<ul class="dropdown-menu" role="menu">								
										<li><a href="{{ path('flashreport_new') }}" id="cfotos">Subir Fotos</a></li>									
										<li><a href="{{ path('cadenas') }}">Cadenas</a></li>
										<li><a href="{{ path('usuarios') }}">Usuarios</a></li>
										<li><a href="{{ path('marca') }}">Marcas</a></li>
										<li><a href="{{ path('logout') }}">Salir</a></li>						
									</ul>
								</li>					
							</ul>
						</td>
					</tr>
				</table>
			</div>
		</nav>
{% endblock %}