<script type="text/javascript">
    function asignarTiendas(idUser,idTienda,button)
    {
        var data = {
            url:"{{path('supervisortienda_asignar')}}/"+idUser+"/"+idTienda,
            method: "POST",
            success: function(result){ 
                if (result == 1) {
                    $(button).closest('tr').remove();
                }
            },
            beforeSend: function(){
                $(button).button('loading');
            },
            error: function(){
                $(button).button('reset');
            }
        }
        $.ajax(data);
    }

    $(document).ready(function(){
         //Filtra la informacion de las tiendas Asiganadas a un supervisor    
        $('#busquedaTienda').focus();
        $('#busquedaTienda').keyup(function(){
            var descripcion = $('#busquedaTienda').val();
            if(descripcion.length>0)
            {         
                $("#tblAsigTiendas tr").show(); 
                $("#tblAsigTiendas tr td#nombreTda").not(":Contains('"+descripcion+"')").closest('tr').hide();                 
            }else{
                $("#tblAsigTiendas tr").show(); 
            }
        });
    });
</script>
<div class="input-group">
    <div class="input-group-addon"><span class="glyphicon glyphicon-search"></span></div>
    <input type="text" id ="busquedaTienda" class="form-control" placeholder="Busqueda por Tienda">
</div>

</br>
<table id="tblAsigTiendas" class="table table-hover">
    <div class="table-body">
        <tr>
            <th> Tienda</th>
            <th> Direccion </th>
            <th> Asignacion</th>
        </tr>
        {% for listTiendas in listado %}
        <tr> 
            <td id="nombreTda">{{listTiendas.nombreTda}}</td>
            <td>{{listTiendas.direccionTda}}</td>
            <td><button type="button" onclick="asignarTiendas({{idUser}},{{listTiendas.id}},this)" class="btn btn-default" style="margin-left:20px">
                <span class="glyphicon glyphicon-saved">
                </span>
                </button>
            </td>
        </tr>
        {% endfor %}
    </div>
</table>