{% extends '::base.html.twig' %}

{% block body -%}
    <h1>FlashReport list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Archivofoto</th>
                <th>Fechareporte</th>
                <th>Observaciones</th>
                <th>Logro</th>
                <th>Tipoarchivo</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('flashreport_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.archivoFoto }}</td>
                <td>{% if entity.fechaReporte %}{{ entity.fechaReporte|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ entity.observaciones }}</td>
                <td>{{ entity.logro }}</td>
                <td>{{ entity.tipoArchivo }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('flashreport_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('flashreport_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('flashreport_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
