{% extends 'PosBundle::layout.html.twig' %}

{% block body %}
<div class="container-fluid">
    <h1>Cargar Reportes</h1>
    <legend>Seleccionar datos</legend>
	{{form_start(form)}}
        <div class="col-md-3">
            {{form_label(form.idCadena)}} 
            {{form_widget(form.idCadena)}} 
        </div>
        <div class="col-md-3">
            {{form_label(form.idTienda)}}
            {{form_widget(form.idTienda)}}
        </div>
        <div class="col-md-3">
            {{form_label(form.idMarca)}}
            {{form_widget(form.idMarca)}}
        </div>
        <div class="col-md-3">
            {{form_label(form.fechaReporte)}}
            {{form_widget(form.fechaReporte)}}
        </div>
        <div class="col-md-4">
            {{form_label(form.observaciones)}}
            {{form_widget(form.observaciones)}}
        </div>
        <div class="clearfix"></div>
        <div class="col-md-4">
            {{form_label(form.logro)}}
            {{form_widget(form.logro)}}
        </div>
        <div class="col-md-4" style="display:none">
            {{form_label(form.tipoArchivo)}}
            {{form_widget(form.tipoArchivo)}}
        </div>
        <div class="col-md-4" style="display:none">
            {{form_label(form.idUsuario)}}
            {{form_widget(form.idUsuario)}}
        </div>
        <div class="clearfix"></div>
        <div class="col-md-4">
            {{form_widget(form.archivoFoto)}}
        </div>
        <div class="clearfix"></div>
        <br/>
        <div class="col-md-4">
            {{form_widget(form.submit)}}
        </div>
	{{form_end(form) }}
     <div class="clearfix"></div>
     <br/>
    <legend>Información Cargada</legend>
    <div class="col-md-12" id="infoDay">
        
    </div>
</div>
{% endblock %}
