{% extends '::base.html.twig' %}

{% block body -%}
    <h1>FlashReport</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Archivofoto</th>
                <td>{{ entity.archivoFoto }}</td>
            </tr>
            <tr>
                <th>Fechareporte</th>
                <td>{{ entity.fechaReporte|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Observaciones</th>
                <td>{{ entity.observaciones }}</td>
            </tr>
            <tr>
                <th>Logro</th>
                <td>{{ entity.logro }}</td>
            </tr>
            <tr>
                <th>Tipoarchivo</th>
                <td>{{ entity.tipoArchivo }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('flashreport') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('flashreport_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
