<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('bundles/pos/css/bootstrap.css') }}">
            <link rel="stylesheet" href="{{ asset('bundles/pos/css/loading.css') }}">
        {% endblock %}
        <style>
            .form-control {
                border-color: rgb(49, 140, 168);
                border-width: 2px;

            }
            h1{
                margin-top: 0px;
                margin-bottom: 10px;
                color:rgb(49, 140, 168);
            }
            legend {
                display: block;
                width: 100%;
                padding: 0;
                margin-bottom: 20px;
                font-size: 21px;
                line-height: inherit;
                color: #333;
                border: 0;
                border-bottom: 1px solid #e5e5e5;
            }
            label {
                display: inline-block;
                margin-bottom: 5px;
                font-weight: 700;
                color: rgb(49, 140, 168);
                font-size: 15px;    
            }           
        </style>
        <script type="text/javascript" src="{{ asset('bundles/pos/js/jquery.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/pos/js/bootstrap.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/pos/js/jquery-form.js') }}"></script>
        

        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block encabezado %}{% endblock %}
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
