{% extends 'PosBundle::layout.html.twig' %}
{% block body %}
		<div class="container-fluid">
			<legend>Seleccion de Mes</legend>
			{{form(monthForm)}}
			<br/>
			<div class="col-md-12 box"><span class="glyphicon glyphicon-home"></span> Cumplimiento de Tiendas: <strong>{{ porcentajeTiendas|number_format(2) }}%</strong></div><br/>
			<div class="col-md-12 box"><span class="glyphicon glyphicon-shopping-cart"></span> Cumplimiento de Productos: <strong>50%</strong></div>
		</div>
{% endblock %}