{% extends 'PosBundle::layout.html.twig' %}
{% block body %}
<div class="container-fluid" style="background-color:white;width:400px;height:500px">
	<div> <!--Menu-->
		<center><img src="{{ asset('bundles/pos/images/logo_VL.png')}}" alt="100x100" class="img-responsive" style="padding:20px"></center>	
		<a href="{{ path('flashreport_new') }}" id="link1" class="btn btn-primary btn-block"><span class="glyphicon glyphicon-open"></span> Subir Fotos </a>
		<a href="ver_fotos.php" id="link2" class="btn btn-primary btn-block"><span class="glyphicon glyphicon-camera"></span> Ver Fotos y Logros </a>
		<a href="reportes.php" id="link4" class="btn btn-primary btn-block"><span class="glyphicon glyphicon-floppy-save"></span> Generar Reportes </a>
		<a href="logout.php" id="link5" class="btn btn-danger btn-block"> <span class="glyphicon glyphicon-off"></span> Salir </a>
		<div id="capaUsuario">
			<div id="nombre">
			
			</div> <!--Fin Capa nombre-->
		</div> <!--Fin capaUsuario-->
		<div id="manuales">
	 		<table class="table table-triped">
				<tr>
					<td><B> Descarga: </B></label> </td>
					<td><a href="descarga.php?f=POSMonitor/Manual de Usuario.pdf" class="btn btn-success btn-xs btn-block"> 
						<span class="glyphicon glyphicon-book"> </span> ManualUsuario 
						</a> 
					</td>
				</tr>	 
				<tr>
					<td> <B> Descarga: </B></label> </td>
					<td> <a href="descarga.php?f=POSMonitor/VideoTutorial.mp4" class="btn btn-success btn-xs btn-block"> 
						<span class="glyphicon glyphicon-film"></span> VideoTutorial 
						</a> 
					</td>
				</tr>
	  		</table>
		</div>
	</div> <!--Fin Capa Loginin-->	
</div>
{% endblock %}