<script type="text/javascript">
	$(document).ready(function(){
		$('#btnSubmit').click(function(event) {
			formSubmit(this);
		});
	});
	function formSubmit(boton){
		var data = {
			success: function(result){
				$('#modalNewEdit').modal('toggle')
				$('.modal-backdrop').remove();
				$(boton).button('reset');
				$('#btnCloseModal').show();
				$('#cadena'+result).dblclick();
				
			},
			beforeSubmit: function(){
				$(boton).button('loading');
				$('#btnCloseModal').hide();
			},
			error: function(){
				$(boton).button('reset');
				$('#btnCloseModal').hide();
				$(boton).button('reset');
				$('#btnCloseModal').show();
			}
		};
		$('#formEditTienda').ajaxSubmit(data);
	}
</script>
<div class="modal-header">
	<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	<h4 class="modal-title" id="modalTitle"><span class='glyphicon glyphicon-plus'></span> Editar Tienda <strong>{{ edit_form.vars.value.nombreTda }}</strong> <div id="labelCadena"></div></h4>
</div>
<div class="modal-body">
	<div id="modalBody">
		<form action="{{ path('tiendas_update') }}/{{entity.id}}" method="POST" id="formEditTienda" {{ form_enctype(edit_form) }}>
		 	<input type="hidden" name="_method" value="PUT">
		 	{{ form_widget(edit_form._token) }}
		 	{{ form_errors(edit_form) }}
		 	<div style="display:none">
				{{ form_label(edit_form.idCadena) }}
				{{ form_widget(edit_form.idCadena) }}
			</div>

			{{ form_label(edit_form.nombreTda) }}
			{{ form_widget(edit_form.nombreTda) }}

			{{ form_label(edit_form.direccionTda) }}
			{{ form_widget(edit_form.direccionTda) }}

			{{ form_label(edit_form.idDepto) }}
			{{ form_widget(edit_form.idDepto) }}
			
			{{ form_label(edit_form.idMuni) }}
			{{ form_widget(edit_form.idMuni) }}

			<div class="modal-footer">
				<button type="button" id="btnCloseModal" class="btn btn-default" data-dismiss="modal">Cerrar</button>
				<button type="button" id="btnSubmit" data-loading-text="Editando Tienda..." class="btn btn-primary"><span class="glyphicon glyphicon-floppy-disk"></span> Actualizar Información</button>
			</div>
		</form>
	</div>
</div>

    
