{% if tiendas is not empty %}
<script type="text/javascript">
	$.expr[':'].Contains = function(x, y, z){
        return jQuery(x).text().toLowerCase().indexOf(z[3].toLowerCase())>=0;
    };
	$(document).ready(function(){
		$('#filtroTiendas').focus();
		$('#filtroTiendas').keyup(function(){
	    	var descripcion = $('#filtroTiendas').val();
	    	if(descripcion.length>0)
	        {	      		     
	        	$('#tableTiendas tr').show();
	        	$("#tableTiendas tr td.nombreTda").not(":Contains('"+descripcion+"')").parent().hide();		        	
	        }else{
	        	$("#tableTiendas tr").show();	
	        }
	    });
	});
	function showModal(action,idTienda){
		var data = {
			url:"",
			method:"GET",
			success: function(result){
				$('#modalContent').html(result);
			},
			beforeSend: function(){
				$('#modalContent').html("<div class='spinner'><div class='double-bounce1'></div><div class='double-bounce2'></div></div>");
			},
			error: function(){

			}
		};
		switch(action){
			case 'new':
				data.url = "{{ path('tiendas_new') }}/"+$('#txtIdCadena').val();
				$('#modalDialog').removeClass('modal-lg');
			break;
			case 'edit':
				$('#modalTitle').html("<span class='glyphicon glyphicon-edit'></span> Editar Tienda");
				data.url = "{{ path('tiendas_edit') }}/"+idTienda;
				$('#modalDialog').removeClass('modal-lg');
			break;
			case 'show':
				$('#modalTitle').html("<span class='glyphicon glyphicon-eye-open'></span> Ver Información de Tienda");
				data.url = "{{ path('tiendas_show') }}/"+idTienda;
				$('#modalDialog').addClass('modal-lg');
			break;
		}
		$('#modalNewEdit').modal('show');
		$.ajax(data);
	}
</script>
	<input type="text" name="filtroTiendas" id="filtroTiendas" class="form-control" /><br/>
	<table class="table table-hover" id="tableTiendas">
		<tr>
			<th>#</th>
			<th>Nombre de Tienda</th>
			<th>Dirección</th>
			<th>Departamento</th>
			<th>Municipio</th>
			<th><button type="button" onclick="showModal('new',null)" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-plus"></span> Tienda Nueva</button></th>
		</tr>
		{% for tienda in tiendas %}
		<tr>
			<td>{{loop.index}}</td>
			<td class="nombreTda">{{ tienda.nombreTda}}</td>
			<td>{{ tienda.direccionTda}}</td>
			<td>{{ tienda.idDepto}}</td>
			<td>{{ tienda.idMuni}}</td>
			<td>
				<button type="button" onclick="showModal('edit',{{ tienda.id }})" class="btn btn-xs btn-default"><span class="glyphicon glyphicon-edit"></span></button>
				<button type="button" onclick="showModal('show',{{ tienda.id }})" class="btn btn-xs btn-default"><span class="glyphicon glyphicon-eye-open"></span></button>
			</td>
		</tr>
		{% endfor %}
	</table>
{% else %}
	<table class="table table-hover" id="tableTiendas">
		<tr>
			<th>#</th>
			<th>Nombre de Tienda</th>
			<th>Dirección</th>
			<th>Departamento</th>
			<th>Municipio</th>
			<th><button type="button" onclick="showModal('new',null)" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-plus"></span> Tienda Nueva</button></th>
		</tr>
	</table>
	<div class="alert alert-warning">No existen tiendas para la cadena Seleccionada</div>	
{% endif %}
<div class="modal fade" tabindex="-1" role="dialog" id="modalNewEdit">
  <div class="modal-dialog" id="modalDialog">
    <div class="modal-content" id="modalContent">
      
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->