<script type="text/javascript">
	$(document).ready(function(){
		$('#btnSubmit').click(function(event) {
			formSubmit(this);
		});
	});
	function formSubmit(boton){
		var data = {
			success: function(result){
				$('#modalNewEdit').modal('toggle')
				$('.modal-backdrop').remove();
				$(boton).button('reset');
				$('#btnCloseModal').show();
				$('#cadena'+result).dblclick();
			},
			beforeSubmit: function(){
				$(boton).button('loading');
				$('#btnCloseModal').hide();
			},
			error: function(){
				$(boton).button('reset');
				$('#btnCloseModal').hide();
				$(boton).button('reset');
				$('#btnCloseModal').show();
			}
		};
		$('#formNewTienda').ajaxSubmit(data);
	}
</script>
<div class="modal-header">
	<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	<h4 class="modal-title" id="modalTitle"><span class='glyphicon glyphicon-plus'></span> Crear Nueva tienda en <strong>{{ form.vars.value.idCadena }}</strong> <div id="labelCadena"></div></h4>
</div>
<div class="modal-body">
	<div id="modalBody">
		<form action="{{ path('tiendas_create') }}" method="POST" id="formNewTienda" {{ form_enctype(form) }}>
		 	{{ form_widget(form._token) }}
		 	<div style="display:none">
				{{ form_label(form.idCadena) }}
				{{ form_widget(form.idCadena) }}
			</div>

			{{ form_label(form.nombreTda) }}
			{{ form_widget(form.nombreTda) }}

			{{ form_label(form.direccionTda) }}
			{{ form_widget(form.direccionTda) }}

			{{ form_label(form.idDepto) }}
			{{ form_widget(form.idDepto) }}

			{{ form_label(form.idMuni) }}
			{{ form_widget(form.idMuni) }}
			
		</form>
	</div>
</div>
<div class="modal-footer">
	<button type="button" id="btnCloseModal" class="btn btn-default" data-dismiss="modal">Cerrar</button>
	<button type="button" id="btnSubmit" data-loading-text="Guardando" class="btn btn-primary"><span class="glyphicon glyphicon-floppy-disk"></span> Guardar Tienda</button>
</div>
    

