<script type="text/javascript">
    $(document).ready(function(){
        $('#modalDialog').addClass('modal-lg');
        getMarcas();
    });
    function getMarcas(){
       var data = {
            url: "{{ path('tiendasmarcas_listadoMarcas') }}/"+{{entity.id}},
            method: "GET",
            success: function(result){
                $('#panelBody').html(result);
            },
            error: function(){

            },
            beforeSend: function(){
                 $('#panelBody').html("<div class='spinner'><div class='double-bounce1'></div><div class='double-bounce2'></div></div>");
            },
       };
       $.ajax(data);
    }
    function getFormNewMarca(boton,idTienda){
        var data = {
            url: "{{ path('tiendasmarcas_new') }}/"+idTienda,
            method: "GET",
            success: function(result){
                $('#spinner').remove();
                $('#divActions').append(result);
            },
            error: function(){
                $('#tblMarcas button').fadeOut('fast');
            },
            beforeSend: function(){
                 $('#divActions').html("<div class='spinner' id='spinner'><div class='double-bounce1'></div><div class='double-bounce2'></div></div>");
                 $('#tblMarcas button').fadeOut('fast');
            },
        };
        $.ajax(data);
    }
</script>
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title" id="modalTitle"><span class='glyphicon glyphicon-eye-open'></span> {{entity.nombreTda}} - {{entity.direccionTda}}<div id="labelCadena"></div></h4>
</div>
<div class="modal-body">
    <div id="modalBody">
        <div class="row">
            <div class="col-md-12">
               <div class="panel panel-primary"> 
                    <div class="panel-heading"> 
                        <h3 class="panel-title">Marcas Asignadas
                            <button type="button" onclick="getFormNewMarca(this,{{entity.id}})" id="btnNewMarca" class="btn btn-xs btn-info" style="float:right"><span class="glyphicon glyphicon-plus"></span> Asignar Marca</button>
                        </h3> 
                    </div> 
                    <div class="panel-body" id="panelBody"> 
                        
                    </div> 
                </div>
            </div>
        </div>
    </div>
</div>