{% extends 'PosBundle::layout.html.twig' %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-6"> 
         <legend> 
            <a href="{{ path('marca_new') }}" class="btn btn-success" style="margin-left:400px; margin-top:-20px;">
                Nueva Marca
            </a>
        </legend>
            <div class="panel panel-info"> 
                <div class="panel-heading"> Listado de Marcas</div> 
                    <div class="panel-body">  
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>No</th>
                                <th>Descripcion</th>
                                <th> <center> Mostrar </th> </center>
                                <th> <center> Editar  </th> </center>
                            </tr>
                        </thead>
                        <tbody>
                        {% for entity in entities %}
                            <tr>
                                <td><a href="{{ path('marca_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                                <td>{{ entity.descripcion }}</td>
                                <td>
                                    <center>
                                        <a href="{{ path('marca_show', { 'id': entity.id }) }}">
                                        <span class="btn btn-info">
                                            <span class="glyphicon glyphicon-eye-open"></span>
                                        </span>
                                        </a> 
                                    </center>
                                </td>    
                                <td>    
                                    <center>
                                        <a href="{{ path('marca_edit', { 'id': entity.id }) }}">
                                        <span class="btn btn-warning">
                                            <span class="glyphicon glyphicon-pencil"></span>
                                        </span>
                                        </a> 
                                    </center>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    </div> <!--Fin Capa Panel Body-->
            </div> <!--Fin Capa Panel Info-->
        </div> <!--Fin de Capa Col-md-6-->    
    </div> <!--Fin de Capa Row-->
</div> <!--Fin de Capa Container-->
{% endblock %}
