
	<form action="{{path('marca_create')}}" method="POST">		
		{{form_widget(form._token)}}
		{{form_label(form.descripcion)}} {{form_widget(form.descripcion)}}
		{{form_label(form.idPais)}} 	 {{form_widget(form.idPais)}}
		<br/>
		{{form_widget(form.submit)}}
		<a href="{{ path('marca') }}" class="btn btn-default" style="margin-left:20px">
	   	Regresar
		</a>
	</form>

