{% if marcas is not empty %}
	<script type="text/javascript">
		$.expr[':'].Contains = function(x, y, z){
	        return jQuery(x).text().toLowerCase().indexOf(z[3].toLowerCase())>=0;
	    };
		$(document).ready(function(){
			$('#filtro').focus();
		});
		$('#filtro').keyup(function(){
	    	var descripcion = $('#filtro').val();
	    	if(descripcion.length>0)
	        {	      		     
	        	$('#marcas tr').show();   	
	        	$("#marcas tr td.descripcion").not(":Contains('"+descripcion+"')").parent().hide();		        	
	        }else{
	        	$("#marcas tr").show();	
	        }
	    });
	    function asignarMarca(codigoMarca){
	    	$('#gs_pos_posbundle_tiendasmarcas_idMarca').val(codigoMarca);
	    	$('#btnClosePanel').trigger('click');
	    }
	</script>
	<input type="text" name="filtro" id="filtro" class="form-control"/>
	<table class="table table-hover" id="marcas">
		{% for marca in marcas %}
		<tr>
			<td class="descripcion" ondblclick="asignarMarca({{ marca.id }})">{{marca.descripcion}}</td>
		</tr>
		{% endfor %}
	</table>
{% else %}
	<div class="alert alert-warning">No existen marcas registradas</div>
{% endif %}