{% extends 'PosBundle::layout.html.twig' %}

{% block body %}
	<div class="container">
    	<h1>Edición de Cadena</h1>
   		{{ form_start(edit_form) }}
   			{{form_label(edit_form.descripcion)}}
            {{form_widget(edit_form.descripcion)}}
            {{form_label(edit_form.idPais)}}
            {{form_widget(edit_form.idPais)}}
   			<br/>
   			{{ form_widget(edit_form.submit) }}
		{{ form_end(edit_form)}}
	</div>
{% endblock %}
