{% extends 'PosBundle::layout.html.twig' %}

{% block body %}
<script type="text/javascript">

    $.expr[':'].Contains = function(x, y, z){
        return jQuery(x).text().toLowerCase().indexOf(z[3].toLowerCase())>=0;
    };
    $(document).ready(function(){
        $('#filtroCadenas').focus();
        $('#filtroCadenas').keyup(function(){
            var descripcion = $('#filtroCadenas').val();
            if(descripcion.length>0)
            {         
                $('.list-group a').show();     
                $(".list-group a.list-group-item").not(":Contains('"+descripcion+"')").hide();                 
            }else{
                $(".list-group a").show(); 
            }
        });
    });
    function activeCadena(objeto){
        $('.list-group a').removeClass('active');
        $(objeto).addClass('active');
    }
    function getTiendas(objeto,idCadena){
        activeCadena(objeto);
        $(".dropdown-toggle").dropdown();
        var data = {
            url:"{{ path('tiendas_list') }}/"+idCadena,
            method:"GET",
            success: function(result){
                $('#listadoTiendas').html(result);
            },
            error: function(){

            },
            beforeSend: function(){
                $('#listadoTiendas').html("<div class='spinner'><div class='double-bounce1'></div><div class='double-bounce2'></div></div>");
            }
        };
        $('#txtIdCadena').val(idCadena);
        $.ajax(data);
    }
</script>
<div class="container-fluid">
    <div class="col-md-4">
        <legend>Listado de Cadenas</legend>
        <div class="panel panel-primary"> 
            <div class="panel-heading"> 
                <h3 class="panel-title">Cadenas
                    <a href="{{ path('cadenas_new') }}" class="btn btn-xs btn-info" style="float:right"><span class="glyphicon glyphicon-plus"></span> Agregar Cadena</a>
                </h3> 
            </div> 
            <div class="panel-body"> 
            <p class="text-info">Para seleccionar una cadena debe hacer doble click</p>
            <input type="text" name="filtroCadenas" id="filtroCadenas" class="form-control"/><br/>
            {% if entities is not empty %}
                <div class="list-group table-of-contents">
                {% for entity in entities %}   
                    <a id="cadena{{entity.id}}" class="list-group-item" ondblclick="getTiendas(this,{{entity.id}})"><button type="button" class="btn btn-primary btn-xs"><span onclick="$(location).attr('href','{{ path('cadenas_edit',{'id':entity.id}) }}')" class="glyphicon glyphicon-edit"></span></button> {{ entity.descripcion }} <span class="badge">{{entity.conteo}}</span></a>                
                {% endfor %}
                </div>
             {% else %}
                <div class="alert alert-warning"> No existen cadenas</div>
            {% endif %}
            <input type="hidden" name="" class="form-control" id="txtIdCadena">
            </div> 
        </div>
    </div>
    <div class="col-md-8">
        <legend>Listado de Tiendas</legend>
        <div id="listadoTiendas"><div class="alert alert-warning">Debe seleccionar una Cadena</div></div>
    </div>
</div>
{% endblock %}
