{% extends 'PosBundle::layout.html.twig' %}

{% block body %}
	<div class="container">
		<h1>Creación de Cadenas</h1>
   		{{ form_start(form) }}
   			{{form_label(form.descripcion)}}
            {{form_widget(form.descripcion)}}
            {{form_label(form.idPais)}}
            {{form_widget(form.idPais)}}
   			<br/>
   			{{ form_widget(form.submit) }}
		{{ form_end(form)}}
	</div>
{% endblock %}
